
.under_line {
  position: relative;
}

.under_line:after {
  content: '';
  width: 64px;
  height: 1px;
  display: block; 
  position: absolute; 
  margin-top: 1px; 
  border-bottom: 2px solid #f00;
}

.back_image {
  background-position : center;
  background-image: url("/assets/image/GettyImages-a10838093.jpg");
}

.map_han_back_image {
  background-position : center;
  background-image: url("/assets/image/map_han.png");
}

.map_eng_back_image {
  background-position : center;
  background-image: url("/assets/image/map_eng.png");
}

.margin_bottom {
  margin-bottom: 50px;
}

.td_width {
  width: 120px;
}
